$task-color1-border : "#4DB5BC";
$task-color1-main : "#01959F";
$task-color2-border : "#FEEABC";
$task-color2-main : "#FA9810";
$task-color3-border : "#F5B1B7";
$task-color3-main : "#E11428";
$task-color4-border : "#B8DBCA";
$task-color4-main : "#43936C";
 